on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: "Build"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-20.04
          - windows-2019
          - macos-10.15
    env:
      ARCHIVE: 1

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Compile"
        run: make release

      - name: "Upload artifacts"
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}
          path: bspcwop*
